@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.contenedor_footer{
    max-width: 98%;
    margin: 0 auto;
}

.texto{
    color: white;
}
.options{
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    background-color: #000000;
}
.footer{
    background-color: #000000;
    padding: 20px 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.logo-foot{
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 25px;
}

label{
    padding: 0px 2px 0px 0px;
}

select{
    font-family: 'Poppins', sans-serif;
    background: none;
    border: solid 1px white;
    padding: 3px 3px;
    border-radius: 5px;
}

.leng{
    display: flex;
    align-items: center;
}